/* General */
* {
  margin: 0;
  padding: 0;
}

a {
  font-size: 14px;
  font-family: Roboto, arial, sans-serif;
  padding: 12px;
  
}

div {
  border: 1px solid red;
}

/* Nav */
.navbar-container a {
  color: black;
  text-decoration: none;
}

.navbar-container a:hover {
  color: black;
  text-decoration: underline;
}

.inner-navbar-container {
  display: flex;
  justify-content: space-between;
}

.navbar-left {
  display: inline-block;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.navbar-right {
  display: inline-block;
  display: flex;
  align-items: center;
}

.navbar-right a {
  font-size: 13px;
  font-family: arial, sans-serif;
}

.app-icon {
  margin-left: 15px;
  margin-right: 12px;
}

.profile-icon {
  margin-right: 10px;
}

/* Google logo */
.logo-container {
  display: flex;
  display: block;
  justify-content: center;
}

.google-logo {
  display: flex;
  justify-content: center;
}

/* Search bar */
.search-bar-container {
  display: flex;
  justify-content: center;
}

.search-bar {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  height: 45px;
  width: 650px;
  border-radius: 100px / 100px;
}

.search-icon {
  margin-top: 3px;
  margin-left: 13px;
}

.mic-icon {
  margin-top: 3px;
  margin-right: 15px;
}

/* Footer */
.footer-container {
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(240, 240, 240);
  color: black;
}

.footer-container a {
  color: rgb(130, 130, 130);
  text-decoration: none;
}

.inner-footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.inner-footer-container a:hover {
  text-decoration: underline;
}

.leaf-container {
  width: 250px;
  height: 20px;
  position: relative;
}

.leaf-img {
  position: absolute;
  bottom: -25px;
  left: -50px;
}

.leaf-desc {
  position: absolute;
}
